<div id="form-wrapper">
    <form>
        <div id="start" class="input-wrapper">
            <label for="#start-city">Select point of departure</label><br>
            <select id="start-city">
                <option value="Neom City">Neom City</option>
                <option value="Newport">Newport</option>
                <option value="Preston">Preston</option>
                <option value="Oakmont">Oakmont</option>
                <option value="Rocky Beach">Rocky Beach</option>
            </select>
        </div>
        <div id="destination" class="input-wrapper">
            <label for="#destination-city">Select destination</label><br>
            <select id="destination-city">
                <option value="Rocky Beach">Rocky Beach</option>
                <option value="Oakmont">Oakmont</option>
                <option value="Preston">Preston</option>
                <option value="Newport">Newport</option>
                <option value="Neom City">Neom City</option>
            </select>
        </div>
        <div id="datetime" class="input-wrapper">
            <label for="#datetime-select">Choose time of departure</label><br>
            <input id="datetime-select" type="datetime-local">
        </div>
        <button id="submit-btn" type="submit">Search connections</button>
    </form>
</div>