form {
    padding: 8px;
    border: 1px solid #000000;
}

input select {
    width: 300px;
}

.input-wrapper {
    display: inline-block;
    margin-bottom: 10px;
}

#form-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#start {
    margin-right: 30px;
}

#datetime {
    display: block;
}

#submit-btn {
    margin-top: 15px;
}