#top-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 50px;
    padding: 0 10px 0 0;

    nav {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        color: rgb(85, 85, 85);
    }
}

.active-route {
    color: #3b69af;
}