#map {
    display: flex;
    justify-content: center;

    img {
        max-width: 1000px;
        width: 70%;
    }

}

#map-title {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}